* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
  }
  
  body {
    color: #444;
    transition: all .4s .3s ease-in;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    font-family: $condensed;
  }

  

/* FONT STACK */



* {
    font-family: $regular;
}
h1 {
    text-shadow:$text_shadow;
    @include desktop ((
        font-size: 80px,
        margin-bottom: 5px,
        text-align: center,
       
    ));
    @include phone ((
        font-size: 24px,
        margin-bottom: 5px
    ));
}

h2 {
    text-shadow:$text_shadow;
    @include desktop ((
        font-size: 45px,
        color:$white
    ));
    @include phone ((
        font-size: 16px
    ))
}
h3 {
    @include desktop ((
        font-size: 40px
    ));
    @include phone ((
        font-size: 18px,
        text-align:center
    ));
}
h4 {
    @include desktop ((
        font-size: 35px
    ));
}
h5 {
    @include desktop ((
        font-size: 30px
    ));
}
h6 {
    @include desktop ((
        font-size: 28px
    ));
}
p {
    @include desktop ((
        font-size: 27px,
        color:$black,
        margin-bottom:5px,
        font-family:$condensed
    ));
    @include phone ((
        font-size: 16px,
        margin-bottom:5px
    ));
}

a,
a:hover,
a:focus {
    @include desktop ((
        text-decoration: none,
        font-size:20px,
        font-family:$condensed
    ));
    @include phone ((
        text-decoration: none,
        font-size:18px
    ));
    
}

hr {
    @include desktop ((
        width:100%,
        border-top: solid 1px #ababab,
        display:none
    ));
}
li {
    @include desktop ((
        font-size: 25px,
        font-family:$condensed
    ));
    @include phone ((
        font-size: 15px
    ));
}

a {
    cursor:pointer;
}
section {
    @include desktop ((
        padding-top:80px,
        padding-bottom:80px
    ));
}
hr {
    border-top:1px groove $white;
    width:100%;
    display:block;
}
