* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
  }
  
  body {
    color: #444;
    transition: all .4s .3s ease-in;
    padding: 0;
    margin: 0;
    overflow-x:hidden;
    font-family: $condensed;
  }

  

/* FONT STACK */


h1,
h2 {
    font-family: 'Cinzel', serif;
}
h1 {
    text-shadow:$text_shadow;
    @include desktop ((
        font-size: 80px,
        margin-bottom: 5px,
        text-align: center,
       
    ))
}

h2 {
    text-shadow:$text_shadow;
    @include desktop ((
        font-size: 45px,
        color:$white
    ))
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.75em;
}
h5 {
    font-size: 1.5em;
}
h6 {
    font-size: 1.25em;
}
p {
    @include desktop ((
        font-size: 27px,
        font-family:$condensed,
        color:$black
    ))
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

hr {
    width:100%;
    border-top: solid 1px #ababab;
    display:none;
}
/* ......Custom styles ................*/


a {
    cursor:pointer;
}
