.gap {
    @include desktop ((
        margin-bottom: 60px
    ));
}
.light-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.center_text {
    text-align:center;
}
.center {
    margin:0 auto;
    display:block;
}
.box {
    @include desktop ((
        padding:20px
    ));
}
.flex_row {
    display: flex;
}
.flex_column {
    flex: 1;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    @include desktop ((
       height:330px,
       padding:10px,
       color:$white
    ));
}

.interior {
    background-image:url('/assets/img/interior_home_sm.jpg');
    background-size:cover;
    background-repeat:no-repeat;

}
.exterior {
    background-image:url('/assets/img/exterior_home_sm.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
