@import 'vars.scss';
.gap {
    @include desktop ((
        margin-bottom: 60px
    ));
}
.pad {
    @include desktop ((
        padding:40px
    ));
    @include phone ((
        padding:10px
    ));
}
.light-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}
.center_text {
    text-align:center;
}
.center {
    margin:0 auto;
    display:block;
}

.contact_bg {
    @include desktop ((
        background-image:url('/assets/img/lake.jpg'),
        background-position:center center,
        background-size:cover,
        background-repeat:no-repeat
    ));
}
.flex_row {
    display: flex;
}
.flex_column {
    flex: 1;
}
.overlay {
    @include desktop ((
       background-color: rgba(0, 0, 0, 0.7)
    ));
    * {
        color:$white
    }
}
.interior,
.exterior {
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    .overlay {
        @include desktop ((
            height:430px
         ));
         @include phone ((
            height:260px
         ));
    }
}

.interior {
    background-image:url('/assets/img/interior_home_sm.jpg');
}
.exterior {
    background-image:url('/assets/img/exterior_home_sm.jpg');
}

.button {
   @include desktop ((
       width:300px,
       height:inherit,
       background-color:$accent_blue,
       padding:20px,
       margin-top:30px,
       margin-bottom:30px,
       border:1px solid #000,
       color:$white,
       display:block,
       text-align:center,
       font-weight:bold,
       text-transform:uppercase
   ));
   &:hover {
       background-color:$accent_blue_lighter;
       color:$white;
   }
   @include phone ((
    width:190px,
    padding:20px,
    margin-top:30px,
    margin-bottom:30px,
    border:1px solid #000
));
}
.headline {
    @include desktop ((
        font-size:50px
    ));
    @include phone ((
        font-size:20px
    ));
}

