$white:#fff;
$white_transparent:rgba(255, 255, 255, 0.80);
$black:#000;
$black_transparent:rgba(0, 0, 0, 0.40);
$text_shadow:1px 1px 4px #000;
$regular:'Cinzel', serif;
$condensed:'Open Sans Condensed', sans-serif;