$white:#fff;
$white_transparent:rgba(255, 255, 255, 0.80);
$black:#0f0f0f;
$black_transparent:rgba(0, 0, 0, 0.50);
$accent:#404144;
$accent_blue:#215ba5;
$accent_blue_lighter:#4893f3;
$text_shadow:1px 1px 4px #000;
$regular:'Cinzel', serif;
$condensed:'Open Sans Condensed', sans-serif;