
#services {  
    @include desktop ((
        z-index:2,
        background-color:$white,
        padding:100px,
        margin:0 auto
    ));
}
#gallery {
    background-color:$accent;
}
.wrapper {
    @include desktop ((
        margin:0 auto,
        background-color:$white,
        width:85%
    ));
}

